<h1>Your treats</h1>
<div>
<%@treats.each do |treat|%>
<ul>
<li><%=link_to treat.name, treat_path(treat)%>, <%=current_user.budget.currency%><%=treat.cost%> - <%=link_to "Add to calendar", treat_path(treat)%></li>
</ul>
<%end%>
</div>
<div>
    <%= link_to "Add new Treat", new_user_treat_path(current_user)%>
</div>
