<div class="d-flex justify-content-center pb-3">
<div class="card" style="width: 35rem;" class="justify-center w-50 p-3 border-primary">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
<div class="form-group">
    <h1 class="card-title"><%=@treat.name%> - <%=@treat.cost%></h1>


<%@new_total = current_user.budget.total - @treat.cost%>
<%=form_for @budget do |f|%>
<%=f.hidden_field :total, value: @new_total%>
<%= f.submit "Use Treat!", class: "btn btn-primary btn-lg"%>
<%end%>
</div>



<h2>Or Save it for later:</h2>
<%= form_for @treat do |f|%>
<div class="form-group">
<%=f.date_select :start_time, class: "form-control"%>
<%= f.submit "Add to Calendar", class: "btn"%></div>
</div>

<%end%>

<h2>Or Try Again!</h2>
<%= link_to "Treat Yo Self?", random_path, class: "btn btn-primary btn-lg"%>
<div>
<%= link_to "Delete Treat", treat_path(@treat), method: :delete, class: "card-link"%>
</div>
</div>
</div>
</div>