<% if @lt.errors.any? %>
  <% @lt.errors.full_messages.each do |message|%>\
  <h5 style= "color: red;"><%= message %> </h5>
  <%end%>
<%end%>

  <%current_user.treats.each do |treat|%>
    <div><%= link_to treat.name, user_treat_path(current_user, treat)%> 
    <%= form_for(@lt) do |f|%>
    <%= f.date_select :start_time%>
    <%= f.hidden_field :list_id, value: @list.id%>
    <%= f.hidden_field :treat_id, value: treat.id%>
    <%=f.submit "Add to cycle"%>
    <%end%>
    <%end%>
