<div><h1><%= @list.name%></h1> <%=link_to "Other cycles", lists_path%> </div>

<h2>Budget:<%=current_user.budget.currency%><%=@list.budget.total%></h2>

<h2>Current treats:</h2> 
<%@list.treats.each do |treat| %>
<ul>
 <li><%=treat.name%> - <%=link_to "Select", treat_path(treat)%> - <%=link_to "Remove", user_list_treat_remove_treat_path(current_user, @list, treat)%></li>
 </ul>
<%end%>

<h2>Available Treats:</h2>
    <%available_treats.each do |treat|%>
    
    <div><%= link_to treat.name, user_treat_path(current_user, treat)%> - <%=link_to "Add to cycle?",  user_list_treat_add_treat_path(current_user, @list, treat)%> 
    (Currently assigned to: <%=list_name(treat)%>)
    </div>
    <%end%>

<h2>Started: <%=@list.start_time.strftime("%A %B %d, %Y")%></h2>
<h2><%= @list.name%></h2>
<%= calendar start_date: @list.start_time, number_of_days: 7 do |date| %>
  <%= date.day %>
<% end %>

