<div class="d-flex justify-content-center" style="padding: 25px;">
<div class="card" style="width: 35rem; padding-bottom: 50px;" class="justify-center w-50 p-3 border-primary">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
<div><h1><%= @list.name%></h1> <%=link_to "Other cycles", lists_path%> </div>

<h2>Budget:<%=current_user.budget.currency%><%=@list.budget.total%></h2>

<h2>Current treats:</h2> 
<%@list.lts.each do |lt| %>

    <%=lt.treat.name%> - <%= lt.treat.cost%></br> <%= link_to "Remove from Cycle", list_lt_path(@list, lt), method: :delete, class: "card-link"%>

<%end%>

<h2>Available Treats:</h2>
   <%=render 'lt_form'%>
    <%= link_to "Add new Treat", new_user_treat_path(current_user), class: "card-link"%>

<h2>Started: <%=@list.start_time.strftime("%A %B %d, %Y")%></h2>

</div>
</div>
</div>
