<h1>New budget:</h1>

<%= form_for(@budget) do |f| %>
<%= f.hidden_field :user_id %>
<div>
<%= f.label :name %>
<%= f.text_field :name %>
</div>
<div>
<%= f.label :currency %>
<%= f.text_field :currency %>
</div>
<div>
<%= f.label :total %>
<%= f.text_field :total %>
</div>
<div>
<%= f.submit %>
</div>
<% end %>