<h1>Welcome to <%=current_user.first_name%>'s Profile</h1>


<div>Current Treat Budget: <%= current_user.budget.currency%><%= current_user.budget.total%>
<%if current_user.budget%>
<%= link_to "Update budget", edit_budget_path(current_user)%>
<%else%>
<%= link_to "Set budget", new_user_budget_path(current_user)%>
<%end%>
</div>
<div>
<%=link_to "Treats", treats_path%>
</div>

<div>
<%=link_to "Cycles", lists_path%>
</div>


<%=link_to "Edit profile", edit_user_path(current_user)%>
