<h1>Welcome to <%=current_user.first_name%>'s Profile</h1>


<div>Budget: <%= current_user.budget.currency%><%= current_user.budget.total%>
<%if current_user.budget%>
<%= link_to "Set budget", edit_budget_path(current_user)%>
<%else%>
<%= link_to "Set budget", new_user_budget_path(current_user)%>
<%end%>
</div>



<%=link_to "Home", root_path%>
<%=link_to "Edit profile", edit_user_path(current_user)%>
<%= link_to "Log out", logout_path%>
