
<%= form_for(@budget) do |f| %>
<%= f.hidden_field :user_id %>
<div class="form-group">
<%= f.label :currency %>
<%= f.text_field :currency, class: "form-control" %>
<p class='error'><%= show_errors(@budget, :currency) %></p>
</div>
<div class="form-group">
<%= f.label :total %>
<%= f.text_field :total, class: "form-control" %>
<p class='error'><%= show_errors(@budget, :total) %></p>
</div>
<div>
<%= f.submit %>
</div>
<% end %>